<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-row>
        <ion-col>
            <ion-button color="primary" (click)="login()">Login</ion-button>
        </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: 16px;">
        <ion-col>
            <p class="light">Not yet joined?</p>
            <ion-button fill="clear" color="light" routerLink="/signup">Join Now</ion-button>
        </ion-col>
    </ion-row>
    
  </div>
  


</ion-content>
