<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <!-- <div class="wrapper">
    <div class="top">
      <h1>Jishu</h1>
      <p>Login or Signup to find out how you can help organize</p>
    </div>
    <div class="bottom">
      <ion-button routerLink="/login" expand="full" color="primary">Login</ion-button>
      <ion-button routerLink="/signup" expand="full" color="secondary">Signup</ion-button>
    </div>
  </div> -->

  <div class="container">
    <ion-avatar>
      <img src="assets/avatar.jpg">
    </ion-avatar>

    <h1>Vote for Jishu</h1>

    <ion-row>
      <ion-col class="sign-in-button">
        <ion-button color="primary" (click)="join()">Join Now</ion-button>
      </ion-col>
    </ion-row>
  </div>
  

</ion-content>
