<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <form [formGroup]="loginForm" style="width: 100%;">

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="email" formControlName="name">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input type="email" formControlName="mobile">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>

      <ion-radio-group formControlName="area">
        <ion-list-header>
          <ion-label style="color: white;">Area</ion-label>
        </ion-list-header>
    
        <ion-grid class="area-field-options ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>Muncipalities</ion-label>
                <ion-radio slot="start" value="Muncipalities"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>Panchayat</ion-label>
                <ion-radio slot="start" value="Panchayat"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item *ngIf="area.value === 'Muncipalities'; else blockField">
          <ion-label position="floating">Ward No.</ion-label>
          <ion-input type="text" formControlName="ward"></ion-input>
        </ion-item>

        <ng-template #blockField>
          <ion-item>
            <ion-label position="floating">Block No.</ion-label>
            <ion-input type="text" formControlName="block"></ion-input>
          </ion-item>
        </ng-template>
        
        
    
        
      </ion-radio-group>

      <br>
      <ion-row>
        <ion-col class="sign-in-button ion-text-center">
          <ion-button color="primary" (click)="join()">Join</ion-button>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 40px;" class="ion-text-center">
          <ion-col>
              <p class="light">Already have an account?</p>
              <ion-button fill="clear" color="light" routerLink="/login">Login Now</ion-button>
          </ion-col>
      </ion-row>
    </form>
  </div>



</ion-content>