<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <iframe [src]="homeUrl" frameborder="0" width="100%" height="100%" (load)="pageLoaded()"></iframe>

  <!-- <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/image1.jpg" alt="" srcset="">
    </ion-slide>
    <ion-slide>
      <img src="assets/image2.jpg" alt="" srcset="">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ratione, laudantium unde nemo natus omnis iusto et esse dolorum beatae aliquam cupiditate! Maiores deserunt maxime optio. Error minus deserunt sit!</p>
      </ion-col>
    </ion-row>

  </ion-grid> -->
  
</ion-content>
<ion-footer>
  <ion-button expand="full" color="primary" (click)="share()">
    <ion-icon slot="start" name="share"></ion-icon>
    Share a friend
  </ion-button>
</ion-footer>
